[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pandas = "*"

[packages]
sqlalchemy = "*"
pytest = "*"
disco_ttv = {editable = true, path = "."}
pytest-mock = "*"
python-dotenv = "*"
sox = "*"
matplotlib = "*"
numpy = "*"
inflect = "*"
scipy = "*"
resampy = "==0.3.1"
pydantic = "*"
boto3 = "*"

[requires]
python_version = "3.10"
