[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pandas = "*"

[packages]
sqlalchemy = "*"
pytest = "*"
voice2text = {editable = true, path = "."}
tacotron2 = {editable = true, path = "./Tacotron2"}
pytest-mock = "*"
python-dotenv = "*"
sox = "*"
matplotlib = "*"
numpy = "*"
inflect = "*"
librosa = "*"
scipy = "*"
resampy = "==0.3.1"
dllogger = {ref = "v0.1.0", git = "https://github.com/NVIDIA/dllogger"}
torch = "*"
torchvision = "*"
torchaudio = "*"

[requires]
python_version = "3.8"
