[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pandas = "*"

[packages]
sqlalchemy = "*"
pytest = "*"
voice2text = {editable = true, path = "."}
pytest-mock = "*"
python-dotenv = "*"
sox = "*"

[requires]
python_version = "3.8"
